html {
    font-family: sans-serif;
    background: #000;
    padding: 2rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: #121212;
}

h1 {
    font-family: serif;
    color: #bb86fc;
    margin: 4rem 0;
}

a {
    color: #bb86fc;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: #212121;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    background-color: #303030;
    color: #fff;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cf6679;
    color: black;
    border: 1px solid #377ba8;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input, .content textarea, .content select {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

pre {
    opacity: 70%;
    background-color: #ffffff;
    color: black;
    padding: 1rem 0.4rem;
}
