{% extends 'base.html' %}

{% block title %}New yap{% endblock %}

{% block content %}
<form method="post">
    <label for="filename">Filename</label>
    <input name="filename" id="filename" value="{{ request.form['filename'] }}" placeholder="{{ filename_placeholder }}">
    <label for="contents">Contents</label>
    <textarea name="contents" id="contents" required>{{ request.form['contents'] }}</textarea>
    <label for="expire_in">Expire in</label>
    <select name="expire_in" id="expire_in" required>
        {% for expiration_option in expiration_options %}
            <option
                value="{{ expiration_option }}"
                {% if loop.first and not request.form['expire_in'] or request.form['expire_in'] == expiration_option %}
                selected
                {% endif %}
            >
                {{ expiration_option }}
            </option>
        {% endfor %}
    </select>
    <label for="visibility">Visibility</label>
    <select name="visibility" id="visibility">
        {% for visibility in visibility_options %}
            <option
                value="{{ visibility }}"
                {% if loop.first and not request.form['visibility'] or request.form['visibility'] == visibility %}
                selected
                {% endif %}
            >
                {{ visibility }}
            </option>
        {% endfor %}
    </select>
    <hr>
    <input type="submit" value="yap it!">
</form>
<hr>
<h3>Latest yaps</h3>
<ul>
    {% for paste in latest_pastes %}
        <li><a class="truncated" href="{{ url_for('paste.show', uuid=paste.uuid) }}">{{ paste.filename }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
